// COLORS
$primary-blue-darkest: #1b3979;
$primary-blue-darker: #1848ae;
$primary-blue-dark: #1f58d2;
$primary-blue: #316eef;
$primary-blue-light: #5d8df1;
$primary-blue-lighter: #98b6f7;
$primary-blue-lightest: #eaf1fd;
$primary-blue-ui: #fbfcff;

$tiertiary-red-dark: #a92a00;
$tiertiary-red: #d83e00;
$tiertiary-red-light: #e4572e;
$tiertiary-red-lighter: #e96b47;

$quaternary-green-dark: #579839;
$quaternary-green: #86c868;
$quaternary-green-light: #e9f3e3;

$base-grey: #bbbcbc;
$base-grey-light: #ddd;
$base-white: #fff;

$base-black: #000;
$base-black-light: #2e2f2f;
$base-black-lighter: #5d5d5d;
$base-black-lighest: #939595;

$background-darker: #fbfbfb;
$background: $base-white;

// FONTS
$font-page-title: 'Publico';
$font-section-title: 'Helvetica Neue';
$font-text: 'Graphik';
