@import './reset';
@import './fonts';
@import './variables';
@import './mixins';
@import './global';

$page-max-content: 1140px;

.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-24;

  .calculator,
  &__header {
    background-color: $base-white;
    box-shadow: $elevation-5;
  }

  .calculator {
    height: 400px;
  }

  &__wrapper {
    width: 100%;
    height: 100vh;
    padding: 0 $spacing-16;

    @include desktop() {
      max-width: $page-max-content;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__header {
    padding: $spacing-16;
  }

  &__title {
    font-size: 20px;
    font-family: $font-page-title;
    line-height: 22.5px;
    letter-spacing: 0;

    @include desktop() {
      font-size: 31.25px;
    }
  }
}
