.calculator {
  position: relative;
  z-index: 2;
  background-color: $base-white;
  border-radius: $border-radius-round;
  box-shadow: $elevation-5;

  &__form {
    display: grid;
    grid-template-areas:
      "slider slider"
      "loan  loan"
      "tax  insurance"
      "button button";
    gap: $spacing-24 $spacing-16;
    padding: $spacing-16 $spacing-16 $spacing-56;

    @include desktop() {
      gap: $spacing-32 $spacing-24;
      padding: $spacing-32 $spacing-24;
    }
  }

  &__formGroup {
    &--loan {
      grid-area: loan;
    }

    &--tax {
      grid-area: tax;
    }

    &--insurance {
      grid-area: insurance;
    }
  }

  &__title {
    padding: $spacing-16;
    border-bottom: 1px solid $base-grey-light;

    @extend %caption-regular;

    @include desktop() {
      padding: $spacing-24;
      font-weight: 500;
      font-size: 14.5px;
      line-height: 167%;
    }
  }

  &__sliders {
    display: grid;
    grid-area: slider;
    gap: $spacing-24;

    @include desktop() {
      gap: $spacing-32;

      .label {
        margin-bottom: $spacing-16;
      }
    }
  }

  &__sliderInputs {
    display: flex;
    gap: $spacing-8;

    @include desktop() {
      gap: $spacing-16;
    }
  }

  .button {
    grid-area: button;
  }
}
