.calculator {
  background-color: $base-white;
  box-shadow: $elevation-5;

  &__form {
    display: grid;
    grid-template-areas:
      "slider slider"
      "loan  loan"
      "tax  insurance"
      "button button";
    gap: $spacing-24 $spacing-16;
    padding: $spacing-16 $spacing-16 $spacing-32;
  }

  &__formGroup {
    &--loan {
      grid-area: loan;
    }

    &--tax {
      grid-area: tax;
    }

    &--insurance {
      grid-area: insurance;
    }
  }

  &__title {
    padding: $spacing-16;
    border-bottom: 1px solid $base-grey-light;

    @extend %caption-regular;

    @include desktop() {
      font-weight: 500;
      font-size: 14.5px;
    }
  }

  &__sliders {
    display: grid;
    grid-area: slider;
    gap: $spacing-12;

    .input {
      text-align: center;
    }

    @include desktop() {
      .input {
        max-width: 88px;
      }
    }
  }

  &__sliderInputs {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    gap: $spacing-8;

    @include desktop() {
      gap: $spacing-16;
    }
  }

  .button {
    grid-area: button;
  }
}
