.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-24;

  &__wrapper {
    width: 100%;
    padding: 0 $spacing-16;

    @include desktop() {
      max-width: $page-max-content;
      margin: 0 auto;
      padding: 0;
    }
  }
}
